// Widescreens
@include mediaXl {
  // .projects {
  //   grid-template-columns: repeat(4, 1fr);
  // }
}

// Desktops and Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets and Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      background: url('../img/portrait.jpg');
      width: 150px;
      height: 150px;
      background-size: 100%;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  h1.lg-heading {
    font-size: 3rem;
  }
  /*
    main#home h2 {
        &.sm-heading {
            font-size: 1rem;
        }
    }
*/
  h2.sm-heading {
    font-size: 1rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .boxes div {
    font-size: 1rem;
  }

  .quotation {
    font-size: 16px !important;
    text-align: center;
    padding: 10px 20px;
    line-height: 1.4;
    font-style: italic;
  }

  footer {
    margin: 0;
    text-align: right;
    font-size: 12px !important;
    font-style: italic;
  }
}
